.login{
    .login__google-apple-android{
        display:grid;
        
        background-color: rgb(235, 226, 193);
        padding: 8px*4;
        .login__google{
            margin-bottom: 8px*3;
        }
        .login__apple{

        }
    }
    .login__email-password{
        padding: 8px*4;
        margin-top: 8px*5;
        .login-input{
            width:100%;
            height: 8px*5;
            margin-bottom: 8px*3;
        }
        .login-button{
            width:100%;
            height: 8px*5;
            margin-top: 8px*3;
            font-size: 1.2rem;
        }
    }
}