.home{
    .greetings{
        margin: 8px*4 8px*2;
        .hi-user{
            font-size: 2rem;
            font-weight: 300;
            line-height: 2rem;
            .name{
                font-weight: 500;
            }
        }

    }
    .search-house{
        .search-label{
            margin: 8px;margin-left: 0;
            font-size: 1.1rem;
            color: rgb(32, 32, 32);
        }
        .search-house-keyword{
            width: 100%;
            height:8px*5;
        }
        .search-message{
            margin: 8px;
            color: rgb(219, 60, 60);
        }
        .search-results{
            padding: 8px;
            margin-top: 8px;
            background:#d6ceab70;

            font-size:1rem;
            .result-house{
                padding: 8px;
                font-size:1.4rem;
            }
        }
        
    }
    .create-new-house{
        margin-top: 8px*5;
        .create-house{
            width: 100%;
            height:8px*5;
            font-size: 1.4rem;
        }
    }
    .house{
        position: absolute;
        width:100vw;
        top: 8px*32;
        background: rgb(242, 234, 203);
        padding: 8px*2;
        padding-top: 8px*4;
        border-radius: 40px 40px 0px 0px;
        transition-duration: 0.3s;
        transition-delay: 0.02s;
        transition-timing-function: ease-in;
        
        .house-title{
            color: rgba(0, 0, 0, 0.8);
            font-size: 1.5rem;
            font-weight: 500;
            padding-left: 8px*2;
            padding-bottom: 8px*4;
            p{
                display:inline-block;
                text-decoration: underline;

            }
            .close{
                float:right;
                opacity: 0;
                transform: scale(0);
            }
        }
        &.expand{
            grid-template-columns: 1fr 1fr 1fr;
            top:8px*0;
            background: rgb(242, 234, 203);
            width: 99vw;
            margin-left: 0.5vw;
            transition-duration: 0.2s;
            transition-timing-function: ease-out;
            transition-delay: 0.05s;
            border-radius: 0px;
            z-index: 100;
            .house-title{
                color: rgba(0, 0, 0, 0.9);
                font-size: 1.6rem;
                padding-left: 8px*2;
                padding-bottom: 8px*4;
                p{
                    text-decoration: none;
    
                }
                .close{
                    float: right;
                    opacity: 1;
                    margin-right: 8px*4;
                    transform: scale(1);
                    transition-duration: 0.4s;
                    transition-delay: 0.4s;
                }
            }
            .top-members__wrapper{
                .top-members{
                    display:block;
                    width: 100vw;
                    margin-right: 8px*2;
                    .top-member{
                        transition-duration: 0.7s;
                        margin-bottom: 8px*4;
                    }
                }
            }
        }
        .top-members__wrapper{
            width: calc(100% + 8px);
            overflow: scroll;
            padding: 8px*2;
            background: rgba(190, 181, 136, 0.1);
            border-radius: 8px;
            &::-webkit-scrollbar{
                display:none;
            }
            .label{
                position: sticky;
                left: 0;
                margin-bottom: 8px*2;
                color:rgba(0, 0, 0, 0.5);
                font-weight: 500;
            }
            .top-members{
                margin-right: 8px*2;
                display:inline-flex;
                .top-member{
                    float:left;
                    margin-right: 8px*2;
                    .profile{
                        width:8px*10;
                        height:8px*10;
                        background: rgb(190, 181, 136);
                        border-radius:45%;
                    }
                    .member{
                        text-align:center;
                        margin-top: 8px;
                    }
                    .points{
                        display: grid;
                        float:right;
                        width:8px*5;
                        height:8px*5;
                        padding: 4px;

                        font-size: 1rem;
                        background: rgb(190, 181, 136);
                        font-weight: 500;
                        text-align: center;
                        color:rgba(0, 0, 0, 1);
                        border: 2px solid rgb(241, 232, 187);
                        border-radius: 100%;

                        transform: translate(10px,-10px)
                    }
                }
                
            }
        }
        .tools__wrapper{
            margin-top: 8px*5;
            padding: 8px*2;
            background: rgba(190, 181, 136, 0.1);
            .label{
                position: sticky;
                left: 0;
                margin-bottom: 8px;
                margin-left: 8px*2;
                color:rgba(0, 0, 0, 0.5);
                font-weight: 500;
            }
            .tools{
                display: inline-flex;
                .tool{
                    margin-right: 8px*2;
                    text-align:center;
                    .name{
                        margin-top: 8px;
                    }
                    .icon{
                        width:8px*10;
                        height:8px*10;
                        border :2px solid rgb(190, 181, 136);
                        border-radius:45%;
                    }                   
                }
            }
        }
        .posts-polls{
            .label{
                color: rgba(0, 0, 0, 0.9);
                font-size: 1.6rem;
                padding-left: 8px*2;
                margin-top: 8px*6;
            }
            .posts{
                display: grid;
                margin-top: 8px*3;
                .post{
                    width: 100%;
                    background: rgb(214, 206, 171);
                    margin-bottom: 8px*4;
                    border-radius: 8px;
                    padding: 8px*3;
                    padding-bottom:8px*6;
                    .author{
                        font-size: 1.7rem;
                        font-weight: 500;
                        margin-bottom: 8px;

                    }
                    .post-content{
                        font-size: 1.5rem;
                        font-weight: 300;
                    }
                }
                .poll{
                    width: 100%;
                    background: rgb(214, 206, 171);
                    margin-bottom: 8px*4;
                    border-radius: 8px;
                    padding: 8px*3;
                    padding-bottom:8px*6;
                    .author{
                        font-size: 1.7rem;
                        font-weight: 500;
                        margin-bottom: 8px;

                    }
                    .poll-question{
                        font-size: 1.5rem;
                        font-weight: 500;
                        padding-bottom: 8px*4;
                    }
                    .poll-button-wrapper { 
                        display:grid;
                        justify-self: center;
                        .poll-button { 
                            display: flex;
                            background:darkgray;
                            text-align: center;
                            .alpha { 
                                width:50%;
                                padding: 8px*2 8px*4;
                                border: 1px solid grey;
                            }
                    
                            .beta { 
                                width: 50%;
                                padding: 8px*2 8px*4;
                                border: 1px solid grey;
                            }
                        }
                    }
                }
            }
        }
        
    }
    
}